*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: arial;
    width: 800px;
    margin: 0 auto; 
}

.clear
{
    clear: both;
}

h1
{
    font-size: 34px;
	border-bottom: 2px solid blue;
	text-align: center;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 35px;
}

.cats
{
    width: 736px;
    margin-left: 35px;
}

.cat
{
    width: 220px;
    height: 203px;
    border: solid 1px;
    margin-bottom: 20px;
	margin-left: 35px;
    text-align: center;
    padding-top: 20px;
	border-radius: 8px;
	float: left;
}

p
{
    font-family: Tahoma;
	color: rgb(50,50,46);
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: bold; 
}

.img1
{
    background: url("../images/texture1.jpg");
}

.img2
{
    background: url("../images/texture3.jpg"); 
}

.img3
{
    background: url("../images/texture2.jpg"); 
}

.corner
{
    width: 50px;
    height: 42px;
    background-color: #bc8f8f;
    border: 1px solid #ffd700;
    border-radius: 13px;
	position: relative;
    top: -228px;
    right: -193px;
	color: white;
    font-weight: bold;
    font-size: 14px;
    padding-top: 8px;
}

.button_link
{
	border:none;
    width: 298px;
    height: 39px;
    margin: 0 auto;
    padding-top: 15px;
    background: url("../images/button.png");
    text-align: center;
    font: bold 16px Tahoma;
    position: relative;
    left: -3px;	
}
.button_link:hover
{
    background: url("../images/button-over.png"); 
	cursor: pointer;
}