*
{
    margin: 0;
    padding: 0;
}

.navigation
{
    width: 928px;
    height: 42px;
    margin: 50px auto;
    border-top: solid 1px #ababab;
    border-bottom: solid 1px #ababab;
}

.nav_top
{
    padding-top: 11px;
    padding-left: 69px;
    font: normal 18px arial;
    text-transform: uppercase;
}

.nav_top a
{
    text-decoration: none;
    color: #6b6b6b;
    margin-right: 75px;
}

a.link_news
{
    margin-right: 80px;
}

a.link_contact
{
    margin-right: 0;
}

a:hover
{
    text-decoration: underline;
    color: black;
}