<h1> Table sinuses </h1>
<p>You can select a table step, to Get parameter "degree" and "minute"</p>
<p>If the parameters are not applicable, you specify an invalid value, and used the default settings</p>
<p>Degree step = {$degMove}, Minute step = {$minMove}</p>
<table>
  <tr>
    <td class="scale_table name">sin</td>
    {foreach from=$table.0 key=minute item=minutes}
      <td class="scale_table minute">{$minute}'</td>
    {/foreach}
  </tr>
  {foreach from=$table key=degree item=degrees}
    <tr>
      <td class="scale_table degree">{$degree}&deg;</td>
      {foreach from=$degrees key=minute item=value}
        <td>{$value}</td>
      {/foreach} 
    </tr>
  {/foreach}
</table>

