*
{
    margin: 0;
    padding: 0;
    outline: none;
}

body
{
    font-family: Arial;
	font-weight: normal;
}

.items
{
    width: 283px;
    padding: 5px 19px 24px 15px;
    background: #f4f4f4;
}

.title
{
    width: 255px;
    height: 29px;
    padding-top: 7px;
    border-bottom: solid 6px;
    background: url(../images/arrow.png) 1px center no-repeat;
	background-position-x: -5px;
    padding-left: 28px;
}

.title h1
{
    font: bold 18px arial;    
    text-transform: uppercase;
    padding-top: 1px;
}

.items ul 
{
    list-style: none;   
    padding-top: 3px;
}

.items ul  li
{
    padding-top: 16px;
    padding-left: 28px;
    font-size: 12px;
    background: url(../images/checkbox.png) 0 14px no-repeat;
	background-position: -1px 14px;
    line-height: 14px;
}