*
{
    margin: 0;
    padding: 0;
    outline: none;
}

body
{
    color: #757575;
}

.contact_us 
{
    width: 321px;
    height: 283px;
    margin: 20px 30px;
    padding-left: 43px;
    border-left: solid 1px #e5e5e5;
}

h2
{
    padding-left: 8px;
    font: 23px Arial;
    padding-bottom: 11px;
    color: #565656;
}

ul
{
    list-style:none;
}

li
{
    font: normal 14px Tahoma;
    border-bottom: dashed 1px #cccccc;
    width: 185px;
    padding: 14px 0 12px 53px;
    line-height: 17px;
    letter-spacing: 1.3px;
}

li.phone,
li.fax
{
    font-weight: bold;
    letter-spacing: normal;
}

li.name,
li.address
{
    border: none;
}

.phone
{
    padding-top: 14px;
    background: url(../images/phone.png) 14px 12px no-repeat;
	background-position: 7px 11px;
}

.fax
{
	background: url(../images/fax.png) 9px 9px no-repeat;
	background-position: 6px 6px;
}

.email
{
    background: url(../images/mail.png) 8px center no-repeat;
	background-position: 6px 8px;
}

li.name
{
    background: url(../images/address.png) 6px 7px no-repeat;
	background-position: 5px 5px;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 9px;
    line-height: 19px;
}

li.address
{
    padding-top: 0;
    line-height: 22px;
}